<section class="full screen hero">
  <video autoplay muted loop class="video" #video>
    <source [src]="section.video">
  </video>
  <div class="text-area">
    <div [innerHTML]="section.content| safeHtml" *ngIf="readonly"></div>
    <app-inline-editor [(content)]="section.content" *ngIf="!readonly" (contentChange)="updateContent($event)">
    </app-inline-editor>
  </div>
  <div class="section-toolbar" *ngIf="!readonly">
    <button type="button" class="btn btn-primary btn-sm" (click)="addVideo(selectVideoModal)">
      <fa-icon [icon]="faVideo"></fa-icon>
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="toggleVideoPlay()">
      <fa-icon [icon]="faPause" *ngIf="isVideoPlaying"></fa-icon>
      <fa-icon [icon]="faPlay" *ngIf="!isVideoPlaying"></fa-icon>
    </button>
  </div>
</section>

<ng-template #selectVideoModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enter Video Url</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="url-modal" (ngSubmit)="saveVideoUrl()" #urlModal="ngForm">
      <div class="form-group">
        <label for="url">Url</label>
        <input type="text" name="url" id="url" class="form-control" placeholder="htt://" aria-describedby="urlHelpText"
          [(ngModel)]="videoUrl">
        <small id="urlHelpText" class="text-muted">Enter the video url</small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="saveVideoUrl()">Save</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()">Cancel</button>
  </div>
</ng-template>
