.hero{
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: bottom;
  .text-area {
    align-self: center;
    text-align: center;
  }
}

h2 {
  font-size: 2.5rem;
}
