.hero{
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: bottom;
    .text-area {
      align-self: center;
      text-align: center;
    }
}

section {
  h2 {
    font-size: 2.5rem;
  }
}
