.git
.gitignore
README.md
.env
.env.*
node_modules
*.md
.DS_Store
.vscode
.idea
*.log
firebase-debug.log
firebase-debug.*.log
functions
google-cloud-sdk
scripts
deploy.sh
deploy.bat
.firebaserc
.gcloudignore
