.page-preview {
  min-height: 500px;
  max-height: 90vh;
  overflow: scroll;
}

.sections {
  position: relative;
}
.delete-section-btn {
  position: absolute;
  right:0;
  opacity: 0.2;
  z-index: 10000;
  margin: 15px;
  &:hover, &:focus {
    opacity: 1;
  }
}
