<ng-template #pagePreviewContent>
  <div class="page-preview" [class.full-screen]="isFullScreen">
    <!-- Toolbar -->
    <div class="page-preview-toolbar">
      <div class="btn-group" dropdown>
        <button id="add-section-dropdown-btn" dropdownToggle type="button"
          class="btn btn-outline-primary btn-sm dropdown-toggle" aria-controls="dropdown-basic">Add Section<span
            class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
          aria-labelledby="add-section-dropdown-btn">
          <li role="menuitem"><button class="dropdown-item" (click)="addSection('full screen hero')">Full Screen
              Hero</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="addTextSection()">Text</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="addFullScreenVideoHero()">Fullscreen Video Hero</button></li>
        </ul>
      </div>
      <button *ngIf="!isFullScreen" type="button" class="btn btn-sm full-screen-btn btn-outline-primary ml-3"
        (click)="expandToFullScreen(fullScreenModal)" tooltip="Go fullscreen" placement="bottom">
        <fa-icon [icon]="faExpand"></fa-icon>
      </button>
      <button *ngIf="isFullScreen" type="button" class="btn btn-sm full-screen-btn btn-outline-primary ml-3"
        (click)="fullScreenModal.hide()" tooltip="Close fullscreen mode" placement="bottom">
        <fa-icon [icon]="faCompress"></fa-icon>
      </button>
      <button *ngIf="isFullScreen" type="button" class="btn btn-sm full-screen-btn btn-outline-primary ml-3"
        (click)="save.emit()" tooltip="Save page" placement="bottom">
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let section of sections;let i = index" class="sections" [hidden]="section.deleted" cdkDrag>
        <div class="section-toolbar">
          <button type="button" class="btn btn-sm move-handle" cdkDragHandle tooltip="Move section" container="body"
            placement="bottom">
            <fa-icon [icon]="faArrowsAlt"></fa-icon>
          </button>
          <button type="button" class="btn btn-sm delete-section-btn"
            (click)="promptDeleteOption(removeSectionModal, i)" tooltip="Delete section" container="body"
            placement="bottom">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>


        <app-full-screen-hero *ngIf="section.type=='hero'" [section]="section"
          (sectionChange)="sectionUpdated($event, i)" (removeSection)="removeSection(i)">
        </app-full-screen-hero>
        <app-text-section *ngIf="section.type=='text'" [section]="section" (sectionChange)="sectionUpdated($event, i)"
          (removeSection)="removeSection(i)">
        </app-text-section>
        <app-video-full-screen-hero *ngIf="section.type=='video full screen hero'" [section]="section" (sectionChange)="sectionUpdated($event, i)"
          (removeSection)="removeSection(i)">
        </app-video-full-screen-hero >
      </div>
    </div>
  </div>
</ng-template>
<ng-container [ngTemplateOutlet]="pagePreviewContent" *ngIf="!isFullScreen" ></ng-container>

<div class="modal fade page-preview-modal" bsModal #fullScreenModal="bs-modal" role="dialog"
  aria-labelledby="dialog-events-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <ng-container [ngTemplateOutlet]="pagePreviewContent"></ng-container>
    </div>
  </div>
</div>

<ng-template #removeSectionModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Section</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete this section?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="deleteSection()">Yes</button>
    <button type="button" class="btn btn-outline-secondary" (click)="deleteModalRef.hide()">No</button>
  </div>
</ng-template>
