.page-preview {
  min-height: 500px;
  max-height: 90vh;
  overflow: scroll;

  .page-preview-toolbar  {
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
    height: 0px;
    & > * {
      margin-top: 15px;
      margin-left: 15px;
    }
  }
  &.full-screen {
    overflow: auto;
    height: 100%;
    width: 100%;
    max-height: inherit;
    min-height: inherit;
  }
}

.sections {
  position: relative;

  &:hover .section-toolbar {
    display: block;
  }
  .section-toolbar {
    position: absolute;
    right: 0;
    z-index: 1;
    padding-top: 15px;
    padding-right: 15px;
    display: none;

    & > * {
      color: rgb(150, 150, 150);
      &:hover {
        color: #333;
      }
    }
    .move-handle {
      cursor: move;
      display: inline;
    }
  }
}
.page-preview-modal {
  .modal-dialog{
    width: 100%;
    max-width: inherit;
    height: 100%;
    max-height: inherit;
    margin: 0px;
    .modal-content {
      border-radius: 0px;
      height: 100%;
    }

  }
}
