.hero{
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: bottom;
  position: relative;
  .text-area {
    align-self: center;
    text-align: center;
  }
}

h2 {
  font-size: 2.5rem;
}

.section-toolbar {
  position: absolute;
  top:0;
  left: 0;
  margin: 15px;
  button:nth-child(n+2) {
    margin-left: 15px;
  }
}
