<app-main-layout>
  <div *ngFor="let section of page.sections;let i = index" class="sections">
    <app-full-screen-hero *ngIf="section.type=='hero'" [(section)]="section" [readonly]="true">
    </app-full-screen-hero>
    <app-text-section *ngIf="section.type=='text'" [(section)]="section" [readonly]="true">
    </app-text-section>
    <app-video-full-screen-hero *ngIf="section.type=='video full screen hero'" [(section)]="section" [readonly]="true">
    </app-video-full-screen-hero>
  </div>

</app-main-layout>
