.main {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/my-website-a3970.appspot.com/o/xandro-vandewalle-TRTqLbpShkM-unsplash.jpg?alt=media&token=3448273e-30e4-4a50-aca0-b85238703cec');
    background-size: cover;
    min-height: 100vh;
    color: white;
    flex-direction: row;
    align-items: center;
    display: flex;

}
.contactIcons a {
    padding: 10px;
    text-decoration: none;
}