<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Pages</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-primary ">
      Create page
    </button>
  </div>
</div>


<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Home</td>
      <td>/</td>
      <td>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum enim vitae accusamus vero alias excepturi
          dolor ipsa quos fuga facere. Tempora eum doloremque nihil nisi omnis nobis impedit ipsum blanditiis.</p>
      </td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
