<app-main-layout>
  <div *ngFor="let section of page && page.sections; let i=index">
    <section class="column" [ngClass]="{'bg-light': i%2}" *ngIf="section.columns">
      <div class="container ">
        <h2 class="display-2 mb-5 pt-3" [innerHTML]="section.name"></h2>
        <div class="row">
          <div *ngFor="let column of section.columns" [className]="column.size">
            <div *ngIf="column.content.type=='text'" [innerHTML]="column.content.body"></div>
            <div *ngIf="column.content.type=='progressbar'">
              <div *ngFor="let progressBar of column.content.progressBars">
                <span>{{progressBar.name}}</span>
                <progressbar [value]="progressBar.value">{{progressBar.value}}%</progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero" *ngIf="section.hero" [style.background-image]="'url('+section.hero.image+')'">
      <div class="text-area">
        <h1 class="mat-display-3">{{section.hero.mainHeading}}</h1>
        <h3 class="mat-display-1">{{section.hero.subHeading}}</h3>
        <a *ngFor="let link of section.hero.links" class="btn btn-primary" [href]="link.link"
          role="button">{{link.text}}</a>
      </div>
    </section>
    <section class="posts" *ngIf="section.posts" [ngClass]="{'bg-light': i%2}">
      <div class="container">
        <h2 class="display-2 mb-3 pt-3">{{section.name}}</h2>
        <div class="row">
          <app-post-preview *ngFor="let post of section.posts" [post]="post" class="col-lg-4 col-md-6">
          </app-post-preview>
        </div>
      </div>
    </section>
    <section class="projects" *ngIf="section.projects" [ngClass]="{'bg-light': i%2}">
      <div class="container">
        <h2 class="display-2 mb-3 pt-3">{{section.name}}</h2>
        <div class="row">
          <app-project-preview *ngFor="let project of section.projects" class="col-lg-4 col-md-6" [project]="project">
          </app-project-preview>
        </div>
      </div>
    </section>
  </div>
</app-main-layout>
