.hero{
  height: calc(100vh);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: top;
  position: relative;
  .text-area {
    align-self: center;
    text-align: center;
    z-index: 1;
  }
  .video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.section-toolbar {
  position: absolute;
  top:0;
  left: 0;
  margin: 15px;
  margin-top: 60px;
  button:nth-child(n+2) {
    margin-left: 15px;
  }
}
