<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
  <h1 class="h2">Edit Page</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/pages">Pages</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<div class="mt-4 pb-5">
  <app-page-form [page]="page" (submitPage)="updatePage($event)" [submitButtonLabel]="'Edit Page'" *ngIf="page"></app-page-form>
</div>
